# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]

# Build
build/
dist/
*.spec
*.exe

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# Database
database/faces.db