arabic-reshaper==3.0.1
certifi==2026.5.20
charset-normalizer==3.4.7
cmake==4.3.2
colorama==0.4.6
flatbuffers==25.12.19
idna==3.17
ImageIO==2.37.3
insightface==1.0.1
lazy-loader==0.5
ml_dtypes==0.5.4
networkx==3.6.1
numpy==2.4.6
onnx==1.21.0
onnxruntime==1.26.0
opencv-python==4.13.0.92
packaging==26.2
pandas==3.0.3
Pillow==12.2.0
protobuf==7.35.0
python-bidi==0.6.10
python-dateutil==2.9.0.post0
requests==2.34.2
scikit-image==0.26.0
scipy==1.17.1
six==1.17.0
tifffile==2026.3.3
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0